<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572718609860-nvufjd1o8q2c2or0vbajgaa856ac04et.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572718609860-nvufjd1o8q2c2or0vbajgaa856ac04et</string>
	<key>API_KEY</key>
	<string>AIzaSyAZOe24e75DngrhfeCk1j0FDK3oOetksQg</string>
	<key>GCM_SENDER_ID</key>
	<string>572718609860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.playground.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>app-scratch-89982</string>
	<key>STORAGE_BUCKET</key>
	<string>app-scratch-89982.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572718609860:ios:446d267690a3029f02a091</string>
</dict>
</plist>